body{
    background: #884343;
}
aside{
    float: left;
    background: #181818;
    width: 20%;
    padding: 2.5%;
    height: 100vh;
    color: white;
    border-right: 5px solid #4d4d4d;
    

}
aside img{
    width: 80px;
    float: left;
    background-color: #fff;
    border-radius: 30px;
    
}
aside .logo{
    font-size: 40px;
    font-weight: bold;
    position: relative;
    top: -5px;
}
aside h3{
    margin-top: 50px;
    font-size: 28px;
}
aside ul{list-style: none;}
aside ul li{
    color: #fff;
    display: block;
    margin-top: 20px;
    transition: transform .6s ease;
    

}

aside ul li:hover, aside ul a:hover{
    color: #eb5959;
    transform: scale(1.05);
    text-decoration: none;
}
aside ul a{
    text-decoration: none;
}
main .features{
    float: left;
    color: #181818;
    margin-top: 100px;
    text-align: center;
    width: 75%;
}
main .features h1 {font-size: 50px;}
main .features p {max-width: 400px; margin: 20px auto;}

main .features button { 
    background: #eb5959;
    
    }
    button:hover{
        transform: scale(1.05);
        background: #1999af;
        color: #fff;

    }
